<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Productos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/8d4bb02843.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css"> 

</head>

<body>
    <!-- Barra lateral -->
    <div class="wrapper">
        <div class="sidebar">
            <h2>Menú Principal</h2>
            <ul>
                <li><a href = "#"><i class="fa-solid fa-user"></i>Usuarios</a></li>
                <li><a href = "#"><i class="fa-brands fa-product-hunt"></i>Productos</a></li>
                <li><a href = "#"><i class="fa-solid fa-right-to-bracket"></i>Cerrar Sesión</a></li>
            </ul> 
       </div>
       <!-- Final de la barra lateral -->

       <!-- Encabezado -->
        <div class="main_content">
            <header class="dash-header">
                <!-- Barra de Búsqueda -->
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <form class="d-flex">                            
                            <input type="search" class="form-control me-2"  placeholder="Buscar producto..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            
                                <button class="btn btn-search" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>                        
                        </form>
                    </div>
                </nav>
                <!-- Final de la Barra de Búsqueda -->

                

                <!-- Nav Item - Rol del usuario -->
                <div class = "role">
                    <a href = "#"><i class="fa-regular fa-user"></i><span>ADMIN</span></a>
                </div>
            </header>  
            <!-- Final del encabezado -->

            <!-- Formulario Registrar Productos -->

            
            <div class = "reg-container">
                <h3 class = "welcome" th:text="${welcome}">Hola</h3>
                <main class="info">
                    <h1>REGISTRAR PRODUCTO</h1>
                    <div class = "formulario">    
                        
                        <form id = "product-form">
                            <div class = "form-container">        
                                <input type="text" id = "nombre" name="nombre" placeholder="Nombre" class = "input-general nombre-producto"> 
                                
                                <input type="number" step = "0.01" id = "cantidad" name = "cantidad" placeholder="Cantidad" class = "input-general">

                                <select name="medida" id="medida" class = "input-general medida">
                                    <option value="kilogramos">Kilogramos</option>
                                    <option value="toneladas">Toneladas</option>
                                </select>
                            </div>

                            <div class = "buttons-container">
                                <input type="reset" value="LIMPIAR" class = "btn-limpiar">
                                <input type="submit" value="GUARDAR" id = "agregar-producto" class = "btn-guardar">
                            </div>
                        </form>
                    </div>
                </main>
                <!-- Final del Formulario -->

                <!-- Tabla de Productos -->
                <div class = "container container-fluid table-container">
                    <div class = "row">
                        <div class = "col" id = "productos">
                            <table class = "table table-bordered table-hover" id = "lista">
                                <caption class = "caption-top h5 mt-5 text-center">LISTA DE PRODUCTOS</caption>
                                <thead>
                                    <tr class = "header-table">
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Medida</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <td class="info-nombre">Quinoa</td>
                                    <td class="info-cantidad">4000</td>
                                    <td>Kilogramos</td>
                                </tbody>
                                <tbody>
                                    <td>Avena</td>
                                    <td>3500</td>
                                    <td>Kilogramos</td>
                                </tbody>
                                <tbody>
                                    <td>Tapioca</td>
                                    <td>6200</td>
                                    <td>Kilogramos</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> 
                <!-- Final de la tabla  

                PRODUCTS LIST 
                <div id="product-list" class="col-md-8"></div>-->
            </div>
        </div>
    </div>
    <script src = "https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src = "js/App.js"></script>
</body>
</html>